# # start by ignoring all root files and all root directories
# /*
# /*/

# # then explicitly un-ignore the things I want
# !.gitignore
# !/scripts
# !/reports
# /reports/figures
# !*.md
# !*.placeholder
