# start by ignoring all root files and all root directories
/*
/*/

# then explicitly un-ignore the things I want
!.gitignore

!*.placeholder
!*.md

# keep anything in scripts except Rmarkdown cache directory
!/scripts
/scripts/r/*_cache/

# keep anything in reports except Rmarkdown figures
!/reports
/reports/images
/reports/*_files/figure-html/
